<section id="friend">
	<div class="inner">
		<h2>Refer a friend get a bonus. How it works?</h2>	
		<div class="friend-cnt">
			<p class="friend-cnt__text">NJ Local Moving<br>Gave bonus to Frank</p>
			<div class="friend-box">
				<h6>Frank Used<br>NJ Local Moving</h6>
				<div class="friend-box__img">
					<img src="img/friends-box_img1.jpg" alt="">
				</div>
				<span class="friend-box__text">
					Frank reffered NJ Local Moving
				</span>	
			</div>					
			<div class="friend-box">
				<h6>Amy was looking for<br>profesional movers</h6>
				<div class="friend-box__img">
					<img src="img/friends-box_img2.jpg" alt="">
				</div>
				<span class="friend-box__text">
					Amy booked<br>her job with<br>NJ Local Moving
				</span>	
			</div>					
			<div class="friend-box">
				<h6>We are always<br>happy to help</h6>
				<div class="friend-box__img">
					<img src="img/friends-box_img3.jpg" alt="">
				</div>	
			</div>					
		</div>
		<p class="friend-text">
			Somebody steered you in our direction? That's great news for you - regardless of what you need to move, or whether it's personal or business. Either way, just tell us the name of the kind person who wants to move and you'll get 7% cash back for a local move and 5% cash back for a long distance move.
		</p>
	</div>
</section>