<section id="consult">
    <div class="inner clearfix">
    	<div class="consult-woman"></div>
        <h3>Do you need a consultation?</h3>
        <p>
            Complete the form and our manager will contact you during the day.
        </p>
        <form action="#" method="#" class="consult" id="consult-form">
            <input type="text" placeholder="Name..." name="consult_form_name" class="form-input">
	        <input type="tel" placeholder="Phone..." name="consult_form_phone" class="form-input" >
	        <input type="submit" value="send" class="form-btn">
        </form>
        
    </div>
</section>