<section id="faq">
	<div class="inner">
		<h2>Frequently Asked Questions</h2>
		<div id="accordion">
			<h3>
				What type and size of moves does NJ local moving do? Do you do dull service moving and packing?
			</h3>
			<div>
				<p>
					We are a full service moving company. We can do any size of move either locally or across the state of California. Your large home, small apartment, artist or work studio, home office, retail storefront, storage unit, commercial or medical office – we have extensive experience with all types of moves. No job is too big or too small.
				</p>
			</div>
			<h3>
				What type and size of moves does NJ local moving do?
			</h3>
			<div>
				<p>
					We are a full service moving company. We can do any size of move either locally or across the state of California. Your large home, small apartment, artist or work studio, home office, retail storefront, storage unit, commercial or medical office – we have extensive experience with all types of moves. No job is too big or too small.
				</p>
			</div>
			<h3>
				What type and size of moves does NJ local moving do? Do you do dull service moving and packing?
			</h3>
			<div>
				<p>
					We are a full service moving company. We can do any size of move either locally or across the state of California. Your large home, small apartment, artist or work studio, home office, retail storefront, storage unit, commercial or medical office – we have extensive experience with all types of moves. No job is too big or too small.
				</p>
			</div>
			<h3>
				What type and size of moves does NJ local moving do? Do you do dull service?
			</h3>
			<div>
				<p>
					We are a full service moving company. We can do any size of move either locally or across the state of California. Your large home, small apartment, artist or work studio, home office, retail storefront, storage unit, commercial or medical office – we have extensive experience with all types of moves. No job is too big or too small.
				</p>
			</div>
			<h3>
				What type and size of moves does NJ local moving do? Do you do dull service moving
			</h3>
			<div>
				<p>
					We are a full service moving company. We can do any size of move either locally or across the state of California. Your large home, small apartment, artist or work studio, home office, retail storefront, storage unit, commercial or medical office – we have extensive experience with all types of moves. No job is too big or too small.
				</p>
			</div>
			<h3>
				What type and size of moves does NJ local
			</h3>
			<div>
				<p>
					We are a full service moving company. We can do any size of move either locally or across the state of California. Your large home, small apartment, artist or work studio, home office, retail storefront, storage unit, commercial or medical office – we have extensive experience with all types of moves. No job is too big or too small.
				</p>
			</div>
		</div>
	</div>
</section>