<section id="header">
    <div class="inner clearfix">
		<div class="logo left">
			<a href="#">
				<img src="../img/logo.png" alt="NJ LOCAL MOVING"
			</a>
			<div class="location right">
				Newark<br>New Jersey<br>USA
			</div>
		</div>
		<ul class="nav left">
			<li><a href="#">Services</a></li>
			<li><a href="#">Promotions</a></li>
			<li><a href="#">FAQs</a></li>
			<li><a href="#">Reviews</a></li>
			<li><a href="#">About us</a></li>
		</ul>
        <div id="opener" class="contacts right">
        	<a href="#" class="tel">(333) 777-3333</a>
        </div>
        <div id="tel" title="Contacts">
        	<p>
        		(333) 777-3333<br>
        		(333) 777-3333<br>
        		(333) 777-3333
        	</p>
        </div>
    </div>
</section>