<!DOCTYPE html>
<html>
   <head>
		<link lang="en">
		<title>NJ LOCAL MOVING</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
		<script src="../js/main.js"></script>

		<link rel="stylesheet" href="../css/styles.css">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	</head>
<body>
    //= header.html
    //= promo.html
    //= consult.html
    //= services.html
    //= quote.html
    //= indicators.html
    //= discount.html
    //= bonus.html
    //= company.html
    //= faq.html
    //= question.html
    //= reviews.html
    //= map.html
    //= footer.html
   
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBOTZONr8j2OoDNJH0mdrHmHmud9akJko&callback=initMap">
    </script>
    
</body>
</html>