<section id="indicators">
    <div class="inner clearfix">
        <h2>Few of us in numbers</h2>
        <div class="wrap">
             <div class="indicators left">
                 <div class="icon ic-1"></div>
                 <p class="digit">12</p>
                 <p class="description">Years<br>in business</p>
             </div>
             <div class="indicators left">
                 <div class="icon ic-2"></div>
                 <p class="digit">1356</p>
                 <p class="description">Cargo<br>transportation</p>
             </div>
             <div class="indicators left">
                 <div class="icon ic-3"></div>
                 <p class="digit">235</p>
                 <p class="description">Constant<br>clients</p>
             </div>
             <div class="indicators left">
                 <div class="icon ic-4"></div>
                 <p class="digit">15%</p>
                 <p class="description">Annual growth<br>cargo transportation</p>
             </div>
         </div>
    </div>
</section>	