<div id="question">
	<div class="inner clearfix">
		<div class="question-info left">
			<h3>
				You will not find the answer to your question?
			</h3>
			<p>
				Ask your question to the manager, and during the day we will call you back and answer your question?
			</p>
		</div>
		<div class="question-form">
			<form action="">
				<input type="text" class="name" placeholder="Full name">
				<input type="text" class="phone" placeholder="Phone">
				<input type="text" placeholder="E-mail">
				<textarea name="" id="" cols="30" rows="10" placeholder="Question"></textarea>
				<button class="right">Ask</button>
			</form>
		</div>
	</div>
</div>