<div id="question">
	<div class="inner clearfix">
		<div class="question-info left">
			<h3>
				You will not find the answer to your question?
			</h3>
			<p>
				Ask your question to the manager, and during the day we will call you back and answer your question?
			</p>
		</div>
		<div class="question-form">
			<form action="#" method="#" id="question-form">
				<input type="text" name="form_name" class="name" placeholder="Full name">
				<input type="tel" name="form_tel" class="phone phone_us" placeholder="Phone">
				<input type="email" name="form_email" placeholder="E-mail">
				<textarea name="form_textarea" id="" cols="30" rows="10" placeholder="Question"></textarea>
				<button class="right" type="submit">Ask</button>
			</form>
		</div>
	</div>
</div>