<section id="quote">
	<div class="inner clearfix">
		<span class="before"></span>
		<span class="after"></span>
		<div class="text">
			<h3>                
				Why customers again and again chosen our company services?
			</h3>
			<p>
				Why customers again and again chosen our company services?Why customers again and again chosen our company services?Why customers again and again chosen our company services?Why customers again and again chosen our company services?Why customers again and again chosen our company services?Why customers again and again chosen our company services?Why customers again and again chosen our company services?Why customers again and again chosen our company services?
			</p>
		</div>
		<div class="form">
			<h2>Get a free quote</h2>
			<form action="">
				<input type="text" placeholder="Full name">
				<input type="text" placeholder="Email">
				<input type="text" placeholder="Phone">
				<input type="text" placeholder="Date">
				<input type="text" placeholder="Zip from">
				<input type="text" placeholder="Zip to">
				<select name="" id="">
					<option value="">Choise moving size</option>
					<option value="">item1 2</option>
					<option value="">item1 3</option>
					<option value="">item1 4</option>
				</select>
				<textarea name="" id="" cols="30" rows="10"></textarea>
				<label for="">How did you hear about us <br>
					<input type="text" placeholder="">
					<input type="submit" value="Get quick quote">
				</label>
			</form>
		</div>
	</div>
</section>