<section id="quote">
	<div class="inner clearfix">
		<span class="before"></span>
		<span class="after"></span>
		<div class="text">
			<h3>                
				Why customers again and again chosen our company services?
			</h3>
			<p>
				Why customers again and again chosen our company services?Why customers again and again chosen our company services?Why customers again and again chosen our company services?Why customers again and again chosen our company services?Why customers again and again chosen our company services?Why customers again and again chosen our company services?Why customers again and again chosen our company services?Why customers again and again chosen our company services?
			</p>
		</div>
		<div class="form">
			<h2>Get a free quote</h2>
			<form action="#" method="#" id="quote-form">
				<div class="form__group">
					<input type="text" name="form_name" class="form-input" placeholder="Full name">
					<input type="tel" name="form_tel" class="form-input phone_us" placeholder="Phone">
					<input type="text" name="form_from" class="form-input" placeholder="Zip from">
				</div>
				<div class="form__group">
					<input type="email" name="form_email" class="form-input" placeholder="Email">
					<input type="text" name="form_date" class="form-input date" placeholder="Date">
					<input type="text" name="form_to" class="form-input" placeholder="Zip to">
				</div>
				<div class="form__field">
					<select name="" id="" name="">
						<option value="">Choise moving size</option>
						<option value="">item 2</option>
						<option value="">item 3</option>
						<option value="">item 4</option>
					</select>
				</div>
				<div class="form__field">
					<textarea name="" id="" cols="30" rows="10"></textarea>
				</div>
				<p>How did you hear about us</p> 
				<div class="form__group">
					<input type="text" class="form-input" placeholder="">
				</div>
				<div class="form__group">
					<input type="submit" value="Get quick quote">
				</div>
			</form>
		</div>
	</div>
</section>