<div id="reviews">
	<div class="inner clearfix">
		<h2 class="reviews-title">
			The most important indicator of the level of the company - it is the grateful feedback from our customers
		</h2>
		<ul class="bxslider">
			<li>
				<img class="left" src="../img/reviews-img1.png" />
				<div class="feedback">
					<h6><span class="icon"></span>Brian Cobb</h6>
					<p>
						Lorem ipsum dolor sit amet, eu sea cetero contentiones, ut mei ridens mollis prodesset. Ne atqui congue eirmod nec, nec assueverit instructior te. Amet expetenda urbanitas ei sed. An vix ipsum malis ignota, ad nec suavitate deseruisse. Movet nusquam at his, fugit
					</p>
				</div>
				
			</li>
			<li>
				<img class="left" src="../img/reviews-img2.png" />
				<div class="feedback">
					<h6><span class="icon"></span>Vincent Morgan</h6>
					<p>
						Lorem ipsum dolor sit amet, eu sea cetero contentiones, ut mei ridens mollis prodesset. Ne atqui congue eirmod nec, nec assueverit instructior te. Amet expetenda urbanitas ei sed. An vix ipsum malis ignota, ad nec suavitate deseruisse. Movet nusquam at his, fugit aeterno vix ei. Lorem ipsum 
					</p>
				</div>
			</li>
			<li>
				<img class="left" src="../img/reviews-img3.png" />
				<div class="feedback">
					<h6><span class="icon"></span>Daniel Houston</h6>
					<p>
						Lorem ipsum dolor sit amet, eu sea cetero contentiones, ut mei ridens mollis prodesset. Ne atqui congue eirmod nec, nec assueverit instructior te. Amet expetenda urbanitas ei sed. An vix ipsum malis ignota, ad nec suavitate deseruisse. Movet nusquam at his, fugit
					</p>
				</div>
				
			</li>
		</ul>
	</div>
</div>