<section id="services">
	<div class="inner">
		<h2>services</h2>
		<fieldset>
			<legend>
				Local moving <span></span> Long distance moving
			</legend>
			<div class="img">
				<a href="#">
					<img src="../img/serv-img1.png" alt="Packing">
					<p>Packing</p>
				</a>
			</div>
			<div class="img">
				<a href="#">
					<img src="../img/serv-img2.png" alt="Unpacking">
					<p>Unpacking</p>
				</a>
			</div>
			<div class="img">
				<a href="#">
					<img src="../img/serv-img3.png" alt="Labor Jobs">
					<p>Labor Jobs</p>
				</a>
			</div>
			<div class="img">
				<a href="#">
					<img src="../img/serv-img4.png" alt="Montserrat">
					<p>Montserrat</p>
				</a>
			</div>
			<div class="img">
				<a href="#">
					<img src="../img/serv-img5.png" alt="Delivery service">
					<p>Delivery service</p>
				</a>
			</div>
			<div class="img">
				<a href="#">
					<img src="../img/serv-img6.png" alt="Commercial Moving">
					<p>Commercial Moving</p>
				</a>
			</div>
		</fieldset>
	</div>
</section>