#company
	background: url(../img/company_bg.png) no-repeat center bottom
	background-size: cover
	background-attachment: fixed
	.inner
		position: relative
		padding: 80px 10px 60px
		.before
			position: absolute
			left: 0
			top: -20px
			width: 704px
			height: 20px
			background: #ff7101
		.after
			position: absolute
			left: 0
			bottom: -20px
			width: 704px
			height: 20px
			background: #ff7101
		h2
			margin-bottom: 52px
			color: #fff
		.company-cnt
			margin-bottom: 48px
			&__img
				margin-right: 64px
			&__text
				font: 16px/26px Montserrat-Light
				color: #fff
				.first
					margin-bottom: 30px 
		.company-comment
			padding: 20px 10px 0 32px
			border: 1px solid #ff7101
			&__img
				margin: 0 65px 20px 0
				height: auto
				border-radius: 50%
			&__text
				h5
					margin-top: 10px
					margin-bottom: 45px
					font: 18px/19px Montserrat-Black
					color: #fff
					text-transform: uppercase
				p
					padding-right: 60px
					font: 16px/26px Montserrat-Light
					color: #fff
					
