#consult
	background: #ff7101 
	.inner
		position: relative
		padding: 63px 0 58px 278px
		@media screen and (max-width: 650px)
			padding-left: 0px
		.consult-woman
			position: absolute
			left: -348px
			bottom: 0
			width: 849px
			height: 370px
			background: url(../img/consult-img.png) no-repeat
			@media screen and (max-width: 650px)
				display: none
		h3
			color: #fff
			letter-spacing: -0.47px
			@media screen and (max-width: 650px)
				font: 15px/20px Montserrat-Regular
				text-align: center
		p
			margin-bottom: 45px
			font: 20px/30px Montserrat-Light
			text-transform: uppercase
			color: #fff
			@media screen and (max-width: 650px)
				font: 15px/20px Montserrat-Light
				text-align: center
		form
			position: relative
			input.error
				border: 1px solid #e3060b
				box-shadow: 0 0 3px #e3060b
			label#form_name-error 
				position: absolute
				top: 65px
				left: 20px
				color: #e3060b
			label#form_phone-error
				position: absolute
				top: 65px
				left: 355px
				color: #e3060b
				@media screen and (max-width: 958px)
					top: 145px
					left: 20px
			.form-input
				width: 307px
				height: 66px
				margin: 0 23px 15px 0
				padding-left: 20px
				border-radius: 33px
				border: 1px solid #fff
				z-index: 5
				background-color: transparent
				font: 14px Montserrat-Light
				color: #fff
				&::placeholder
					color: #fff
				@media screen and (max-width: 650px)
					width: 275px
					margin-left: 15px
			.form-btn
				width: 196px
				height: 66px
				border-radius: 33px
				border: 1px solid #fff
				background: #fff
				text-transform: uppercase
				color: #474747
				font: 14px Montserrat-Black
				&:hover
					background-color: transparent
					color: #fff
				@media screen and (max-width: 1158px)
					display: block
					margin: 0 auto

        