#consult
	background: #ff7101 
	.inner
		position: relative
		padding: 70px 0 74px 268px
		.consult-woman
			position: absolute
			left: -348px
			bottom: 0
			width: 849px
			height: 370px
			background: url(../img/consult-img.png) no-repeat
		h3
			color: #fff
			margin-bottom: 11px
		p
			font: 18px/18px Montserrat-Regular
			text-transform: uppercase
			color: #fff
			margin-bottom: 52px
		form
			position: relative
			input.error
				border: 1px solid #e3060b
				box-shadow: 0 0 3px #e3060b
			label#form_name-error 
				position: absolute
				bottom: -22px
				left: 20px
				color: #e3060b
			label#form_phone-error
				position: absolute
				bottom: -22px
				left: 340px
				color: #e3060b
			.form-input
				width: 307px
				height: 66px
				margin-right: 26px
				padding-left: 20px
				border-radius: 33px
				border: 1px solid #fff
				z-index: 5
				background-color: transparent
				color: #fff
				&::placeholder
					color: #fff
			.form-btn
				width: 196px
				height: 66px
				border-radius: 33px
				border: 1px solid #fff
				background: #fff
				text-transform: uppercase
				color: #474747
				font-weight: bold
				font-size: 14px
				&:hover
					background-color: transparent
					color: #fff

        