#faq
	padding: 103px 0 56px
	h2
		margin-bottom: 62px
		color: #1c3051
		letter-spacing: -0.8px
	#accordion
		font-family: Montserrat-Light
		h3
			padding: 16px 0 
			font: 14px/16px Montserrat-Light
			text-transform: uppercase
			color: #1c3051
			cursor: pointer
			border: none
			background: #fff
			span
				margin-right: 38px
			span.ui-icon-triangle-1-e
				width: 21px
				height: 21px
				background: url(../img/faq-accordion_plus.png) no-repeat center
			span.ui-icon-triangle-1-s
				width: 21px
				height: 21px
				background: url(../img/faq-accordion_minus.png) no-repeat center
		h3.ui-state-active
			font-family: Montserrat-Bold
		div
			padding: 5px 0 0 10px
			border: none
			P
				height: auto
				padding: 23px 65px 27px 92px
				font: 14px/28px Montserrat-Light
				border-left: 1px solid #c7ccd4
				color: #1c3051