#indicators
	position: relative
	text-align: center
	&:after
		content: ""
		display: block
		width: 100%
		position: absolute
		top: 50%
		margin-top: 38px
		z-index: -1
		left: 0
		height: 1px
		background: #ff7101
		@media screen and (max-width: 580px)
			display: none
	.inner
		padding: 120px 0 175px 40px
		@media screen and (max-width: 580px)
			padding: 60px 0 60px 0
		h2
			margin-bottom: 80px
			color: #1c3051
			letter-spacing: -1.3px
			@media screen and (max-width: 580px)
				margin-bottom: 40px
		.wrap
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			.indicators
				@media screen and (max-width: 840px)
					flex-basis: 50%
				.icon
					width: 90px
					height: 85px
					background: url(../img/indicators.png) no-repeat
					margin: 0 auto
				.ic-1
					background-position: 0 0
				.ic-2
					background-position: -90px 0
				.ic-3
					background-position: -180px 0
				.ic-4
					background-position: -270px 0
				.digit
					margin-bottom: 13px
					font: 69px proxima-nova-black
					color: #ff7101
					text-transform: uppercase
					background: #fff
					@media screen and (max-width: 580px)
						font: 45px proxima-nova-black
				.description
					font: 19px Montserrat-Light
					color: #1c3051
					text-transform: uppercase
					@media screen and (max-width: 580px)
						font: 12px Montserrat-Light