#promo
	background: url(../img/promo-bg.png) no-repeat center
	background-size: cover
	background-attachment: fixed
	.inner
		padding: 186px 0 157px 55px
		background: url(../img/promo-man.png) no-repeat 97% 100%
  		min-height: 722px
		h1
			margin-bottom: 21px
			font: 94px/100px Montserrat-Black
			text-transform: uppercase
			color: #fff
		p
			margin-bottom: 58px
			margin-left: 5px
			font: 33px/33px Montserrat-ExtraBold
			color: #1c3051
			text-transform: uppercase
			word-spacing: -1px
			letter-spacing: -1px
		.btn
			margin-left: 5px
			padding-left: 20px
			width: 266px
			height: 66px
			border-radius: 33px
			background: #ff7101 url(../img/promo-icon.png) no-repeat 16px center
			font: 19px Montserrat-Black
			color: #fff
			text-transform: uppercase
			&:hover
				background-color: transparent
				border: 1px solid #fff