#quote
	background: url(../img/qoute-bg.jpg) no-repeat center bottom
	background-size: cover
	background-attachment: fixed
	.inner
		position: relative
		padding: 89px 10px 63px 
		.before
			position: absolute
			right: 0
			top: -12px
			width: 704px
			height: 12px
			background: #ff7101
		.after
			position: absolute
			right: 0
			bottom: -12px
			width: 704px
			height: 12px
			background: #ff7101
		.text
			float: left
			max-width: 460px
			box-sizing: border-box
			padding-right: 85px
			h3
				color: #fff
				margin-bottom: 70px
			p
				font: 14px/1.6 Montserrat-Regular
				color: #fff
		.form
			position: relative
			float: left
			max-width: 720px
			box-sizing: border-box
			h2
				color: #fff
				margin-bottom: 60px
				margin-left: 20px
			input
				width: 338px
				height: 51px
				padding-left: 20px
				margin-left: 20px
				margin-bottom: 19px
				border-radius: 26px
				background-color: transparent
				border: 1px solid #707782
				color: #fff
			select
				width: 700px
				height: 51px
				padding-left: 20px
				border-radius: 26px
				background-color: transparent
				border: 1px solid #707782
				margin-left: 20px
				margin-bottom: 19px
				color: #fff
				option
					color: #black
			textarea
				padding: 19px 0 0 19px
				width: 700px
				height: 139px
				margin-left: 20px
				margin-bottom: 25px
				resize: none
				border-radius: 26px
				background-color: transparent
				border: 1px solid #707782
				color: #fff
			input[type=submit]
				background-color: #ff7101
				color: #fff
				font-size: 13px
				font-weight: 700
				text-transform: uppercase
				&:hover
					background-color: transparent
			label
				font: 14px/1.6 Montserrat-Regular
				color: #fff
				margin-left: 20px
			input.error
				border: 1px solid #eb1313
				box-shadow: 0 0 5px #eb1313
			label.error
				position: absolute
				font: 12px/12px Montserrat-Light
				color: #eb1313
			label#form_name-error
				top: 147px
				left: 20px
			label#form_email-error
				top: 147px
				left: 380px
			label#form_tel-error
				top: 217px
				left: 20px
			label#form_date-error
				top: 217px
				left: 380px
			label#form_from-error
				top: 287px
				left: 20px
			label#form_to-error
				top: 287px
				left: 380px