#quote
	background: url(../img/qoute-bg.jpg) no-repeat center bottom
	background-size: cover
	background-attachment: fixed
	.inner
		position: relative
		padding: 89px 10px 63px 
		.before
			position: absolute
			right: 0
			top: -12px
			width: 704px
			height: 12px
			background: #ff7101
		.after
			position: absolute
			right: 0
			bottom: -12px
			width: 704px
			height: 12px
			background: #ff7101
		.text
			float: left
			max-width: 460px
			box-sizing: border-box
			padding-right: 85px
			h3
				color: #fff
				margin-bottom: 70px
			p
				font: 14px/1.6 Montserrat-Regular
				color: #fff
		.form
			float: left
			max-width: 720px
			box-sizing: border-box
			h2
				color: #fff
				margin-bottom: 60px
				margin-left: 20px
			input
				width: 338px
				height: 51px
				padding-left: 20px
				border-radius: 26px
				background-color: transparent
				border: 1px solid #707782
				margin-left: 20px
				margin-bottom: 19px
			select
				width: 700px
				height: 51px
				padding-left: 20px
				border-radius: 26px
				background-color: transparent
				border: 1px solid #707782
				margin-left: 20px
				margin-bottom: 19px
				color: #fff
				option
					color: #black
			textarea
				width: 700px
				height: 139px
				resize: none
				border-radius: 26px
				background-color: transparent
				border: 1px solid #707782
				margin-left: 20px
				margin-bottom: 25px
			input[type=submit]
				background-color: #ff7101
				color: #fff
				font-size: 13px
				font-weight: 700
				text-transform: uppercase
				&:hover
					background-color: transparent
			label
				font: 14px/1.6 Montserrat-Regular
				color: #fff
				margin-left: 20px

    