#reviews
	padding: 80px 0 495px 0
	background: url('../img/reviews_bg.png') no-repeat center bottom
	border-bottom: 2px solid #fff
	.inner	
		h2
			margin-bottom: 70px
			padding-left: 5px
			color: #1c3051
			line-height: 40px
			letter-spacing: -1px
			text-align: center
		.bxslider
			h6
				margin: 16px 0 14px 123px
				font: 14px/18px Montserrat-Bold
				text-transform: uppercase
				color: #ff7101
				.icon
					padding: 15px 17px 0 0
					margin-right: 16px
					display: inline-block
					vertical-align: middle
					width: 31px
					height: 31px
					background: url(../img/review-icon.png) no-repeat center
			p
				width: 215px
				margin-left: 125px
				font: 13px/27.7px Montserrat-Light
				color: #1c3051

				
				