#services
	padding: 106px 0 116px 0
	text-align: center
	h2
		color: #1c3051
		margin-bottom: 75px
	fieldset
		border: 1px solid #ff7101
		padding-left: 20px
		legend
			text-transform: uppercase
			color: #1c3051
			font: 27px Montserrat-Regular
			margin-bottom: 87px
			span
				display: inline-block
				vertical-align: middle
				width: 33px
				height: 1px
				background: #ff7101
		.img
			float: left
			margin-bottom: 83px
			margin-left: 27px
			text-align: center
			a
				text-transform: uppercase
				font: 14px Montserrat-Light
				color: #1c3051
				text-decoration: none
				img
					margin-bottom: 10px

            
            